.flashcard {
  position: relative;
  background-color: $prime-2;
  padding: 1em;
  margin-bottom: 1em;
  &__clue, &__answer {
    color: $light;
  }
  &__gloss {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.flashform {
  input[type='text'] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 0px;
  }
}
