$prime-1: #182c49;
$prime-2: #233b75;
$prime-3: #2d49a2;
$prime-4: #3858ce;

$dark: #111f35;
$light: #efefef;
$lighter: #f5f5f5;

$nav-height: 72px;

.button {
  background-color: $prime-4;
}

.text-white {
  color: $light;
}
